@font-face {
  font-family: "Acrelec";
  src: url("/assets/fonts/Acrelec.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Acrelec 2";
  src: url("/assets/fonts/Acrelec.woff2") format("woff");
  font-weight: bold;
}
