<div class="employees">
    <div class="employees-header">
        <h1 class="employees-header--title">Our Company</h1>
        <span class="employees-header--subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            dolores
            ullam et quam harum officiis nobis repellendus debitis ipsam quo. Consectetur voluptas fugit quos quisquam
            natus, quod voluptatibus facilis incidunt?
        </span>
    </div>

    <router-outlet></router-outlet>
</div>