@import "colors";

.employees {
  &-header {
    padding: 16px;
    background-color: $header-background;

    &--title {
      margin-top: 0;
    }
  }

}

.no-employees {
  font-size: 24px;
  text-align: center;
  margin: 100px;
}