.modal {
  background-color: white;
  border-radius: 16px;
  max-width: 60vw;
  margin: auto;
  overflow: hidden;


  &.confirm {
    max-width: 30vw;
  }

  &-header {
    font-weight: bolder;
    background-color: lightgrey;
    margin: 0;
    padding: 16px 32px;
  }

  &-content {
    margin: 16px 32px 0;
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;

    padding: 0 32px 16px;
  }
}
